* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.background {
  background: url('/aseets/full-moon-forest-night-dark-starry-sky-5k-8k-3840x2160-1684.jpg') no-repeat center center/cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}




.container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.form-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 90px 40px;
  border-radius: 10px;
  color: white;
  width: 450px;
  height: 390px;
  text-align: center;
}

.form-box h2 {
  margin-bottom: 20px;
}


.password {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}


.username{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.submit {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}



